@charset "UTF-8";

* {
    height: 100%;
}
body {
    font: normal 1em arial, verdana, sans-serif;
}
h1 {
    text-align: center;
    font: normal 3em 'times new roman', times, serif;
}
h2 {
    font: italic bolder 2em arial, verdana, sans-serif;
    text-align: left;
}
p {
    text-indent: 20px;
    text-align: justify;
}